<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"      
      xmlns="http://www.w3.org/1999/xhtml">    
    <head th:replace="~{layout/plantilla :: head}">        
        <title>Libreria</title>            
    </head>    
    <body>        
        <header th:replace="~{layout/plantilla :: header}"/>      
        <div style="text-align: center; margin-top: 20px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xgS318QOtRA?si=ADMLXXmvg3SWGnf2&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>              
    </body>
</html>